body{
	background-color: #0fa34d;
}

header{
	height: 150px;
	background-color: #005724;
	box-shadow: 0px 7px 30px 5px;
}

.logo{
	text-align: center;
}

.logo img{
	margin-top: -43px;
	width: 350px;
	height: auto;
}

.grid{
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(8, 100px);
}

.tapis{
	background-color: #168042;
	grid-column: 2 / 5;
	grid-row: 2 / 8;
	display: grid;
	grid-template-columns: 1fr 1fr 300px 1fr 1fr;
	grid-template-rows: 1fr 1fr 150px 1fr 1fr;
	box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.6);
	border-radius: 10px;
	z-index: 1;
}

#tirer{
	grid-column: 2;
	grid-row: 5;
	justify-self: center;
	align-self: center;
}

#rester{
	grid-column: 4;
	grid-row: 5;
	justify-self: center;
	align-self: center;
}

.tapis button{
	height: 50px;
	color: white;
	border-radius: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #0fa34d;
	width: 150px;
}

.tapis button:active{
	background-color: #168042;
}

.tapis button:hover{
	border: yellow solid 1px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}

footer{
	height: 150px;
	background-color: #005724;
	box-shadow: 0px -7px 30px 5px;
}

.adv{
	grid-column: 3;
	grid-row: 2;
}

.joueur{
	grid-column: 3;
	grid-row: 4;
}

.deck{
	grid-column: 4;
	grid-row: 3;
}
.deck{
	place-self: center;
}

.joueur{
	place-self: center;
}

.adv{
	place-self: center;
}

.tapis p{
	font-size: 20pt;
	color: white;
	font-family: 'Mukta Vaani', sans-serif;
}

.croupier{
	grid-column: 3;
	grid-row: 1;
	place-self: center;
}

.joueur1{
	grid-column: 3;
	grid-row: 5;
	place-self: center;
}

.resultat{
	grid-column: 3;
	grid-row: 3;
	place-self: center;
}

.win{
	height: 130px;
	width: 130px;
	visibility: hidden;
}

.lose{
	height: 130px;
	width: 130px;
	visibility: hidden;
}

.draw{
	height: 130px;
	width: 130px;
	visibility: hidden;
}



#cache{
	grid-column: 1 / 6;
	grid-row: 1 / 6;
	z-index: 2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.bg{
	grid-column: 1 / 6;
	grid-row: 1 / 6;
	border-radius: 10px;
	background-color: #168042;
	box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.6);
}

.txtpseudo{
	font-size: 15pt !important;
	grid-column: 2;
	grid-row: 5;
	place-self: center;
}

.regles{
	grid-column: 1 / 6;
	grid-row: 1  / 5;
	padding: 20px
}

.regles{
	font-size: 45pt;
}

#text{
	grid-column: 3;
	grid-row: 5;
	place-self: center;
	border-radius: 10px;
	height: 20px;
	outline: none;
}

.valider{
	grid-column: 4;
	grid-row: 5;
	place-self: center;
	height: 50px;
	width: 100px;
	border-radius: 10px;
	outline: none;
}
