body{
    background-color: #168042
}

header > h1{
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 50px;
    width: 6em
}

header{
	height: 100px;
	background-color: #005724;
	box-shadow: 0px 7px 30px 5px;
}

footer{
	height: 100px;
	background-color: #005724;
	box-shadow: 0px -7px 30px 5px;
}

.grid{
    display : grid;
    grid-template-columns: repeat(16, 35px);
    grid-template-rows: repeat(16, 35px); 
    justify-content: center;
    margin-left: 265px;
    margin-right: 265px;
    /* align-items: center; */
    /* border: rgb(0, 151, 58) 5px solid; */
    margin-top: 50px;
    margin-bottom: 50px;
    grid-gap: 1px;
}

.bgc {
    background: #fafafa;
    
}
.draw{
    background:url(img/stylet.png);
    }